body, html {
  height: 100%;
}

.bg__container { 

  background-image: url("../Assets/skybg.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.weather__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 300px;
}

.weather__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
 margin: 20%;
  background-color: white;
  border-radius: 10px;
  background:rgba(255,255,255,0.4);
  // margin-top: 100px;
}

canvas.skycon_size {
  width: 60px;
  height: 60px;
}

.toggle__button--style {
  border: 1px solid black;
  min-width: 100px;
  border-radius: 10px;
  padding: 5px;
  background-color: lightblue;
  margin-bottom: 20px;
}

.weather__summary--padding {
  padding: 10px 0;
}